.result-body{
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 10% 78%  13%;
    grid-template-areas: "header" 
                        "tabela-result"
                         "aggr-footer";
}



#header{
    grid-area: header;

}

#tabela-result{
    grid-area: tabela-result;
    height: 100%;    
}

#result-footer{
    grid-area: aggr-footer;
    margin: 0;
    background-color: #e8eaf6  ;
    grid-area: progress-btn;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error_msg{
    margin-top: 8em;
    margin-left: 2em;
    margin-right: 2em;
}


.error_msg2{
    margin-top: 10em;
    margin-left: 2em;
    margin-right: 2em;
}