.other-body{
    height: 100%;
    width: 100%;
    background-color: #c5cae9;
    margin: 0;
    display: grid;
    grid-template-rows: 10% auto auto 60% auto;
    grid-template-areas: "header" 
                        "data-selector  "
                         "tech-type-menu  " 
                         "var-options     "
                         "aggr-footer     ";
}

#header{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 15%;
    grid-area: header;
}

.data-selector{
    background-color: white;
    grid-area:data-selector;
}

.tech-type-menu{
    background-color: lavender;
    grid-area: tech-type-menu;
}



.var-options{
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    justify-content: space-around;
    align-content: center;
    grid-area:var-options;
}


#aggr-footer{
    position: sticky;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8eaf6  ;
    grid-area:aggr-footer;
}


