html{
    height: 100%;
    width: 100%;
}

.body{
    height: 100%;
    width: 100%;
    
    margin: 0;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 15% auto 12%;
    grid-template-areas: "header header"
                         "option-ftp   option-file" 
                         "progress-btn progress-btn";
}

#option-ftp{
   margin: 0;
   background-color:blue; 
   grid-area: option-ftp;
}

#option-file{
    margin: 0;
    background-color: blueviolet;
    grid-area: option-file;
}

#progress-btn{
    margin: 0;
    grid-area: progress-btn;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin: 0em;
}

#header{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 15%;
    grid-area: header;

}

a{
    text-decoration: none;
    margin-left: 4em;
    margin-right: 4em;
}

#graficos-btn{
    width: 19em;
}