html{
    height: 100%;
    width: 100%;
}

.body{
    height: 100%;
    width: 100%;
    
    margin: 0;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 15% 60% auto;
    grid-template-areas: "header header"
                         "option-ftp   option-file" 
                         "progress-btn progress-btn";
}

#option-ftp{
   margin: 0;
   background-color:blue; 
   grid-area: option-ftp;
}

#option-file{
    margin: 0;
    background-color: blueviolet;
    grid-area: option-file;
}

#progress-btn{
    margin: 0;
    background-color: greenyellow;
    grid-area: progress-btn;
}

header{
    margin: 0;
    background-color: red;
    grid-area: header;
}