html{
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
    margin-left: 4em;
    margin-right: 4em;
}

h2{
    text-align: center;
}


.body{
    height: 100%;
    width: 100%;
    
    margin: 0;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 12% auto 12%;
    grid-gap: em; /* ADDED */
    grid-template-areas: "header header"
                         "option-ftp   option-file" 
                         "progress-btn progress-btn";
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1.5em;
}

#header{
    display: flex;
    text-align: center;
    justify-content: center;
    grid-area: header;

}

.header-menu{
    margin-top: 2em;
    margin-bottom: 2em;
}

#option-ftp{
    background-color: lavender;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    grid-area: option-ftp;


}

#option-file{
    background-color: #c5cae9;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    grid-area: option-file;

}

#progress-btn{
    margin: 0;
    background-color: #e8eaf6  ;
    grid-area: progress-btn;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



#graficos-btn{
    width: 19em;
}